* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: white;
  padding: 20px;
}

.cv {
  max-width: 800px;
  margin: auto;
  background: whitesmoke;
  padding: 30px;
  border-radius: 6px;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.job {
  color: #555;
}

section {
  margin-bottom: 25px;
}

h2 {
  color: #d40000;
  margin-bottom: 10px;
  font-size: 18px;
}

p,
li {
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

.info li,
.contact li {
  margin-bottom: 5px;
}
.contact li a {
  color: gray;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background: #f2f2f2;
}

@media (max-width: 580px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  table,
  th,
  td {
    font-size: 14px;
  }
}
